{% extends 'base.html' %}

{% block content %}
<style media="screen">
  .bg-svc{
    background:white;
    color:black !important;
  }
</style>
<script type="text/javascript">
  document.getElementsByClassName('navbar-dark')[0].classList.add('navbar-light')
  document.getElementsByClassName('navbar-dark')[0].classList.remove('navbar-dark')
  var k = document.getElementsByClassName('btn-outline-light');
  Array.from(k).forEach((i)=>{i.classList.add('btn-outline-dark');i.classList.remove('btn-outline-light');})
</script>
<div class="h-100 p-5">
  <div class="container text-center m-auto">
    <div class="row">
      <div class="col-lg-4 col-sm-6 mx-auto">
        <div class="rounded social facebook mb-3">
          <a href="{% url 'social:begin' 'facebook' %}" class="row p-3 text-white">
            <div class="ml-4">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="m-auto">
              <h5 class="m-auto">Continue with Facebook</h5>
            </div>
          </a>
        </div>
        <div class="border social rounded mb-3">
          <a href="{% url "social:begin" "google-oauth2" %}" class="row p-3 text-dark">
            <div class="ml-4">
              <i class=" text-danger fa fa-google"></i>
            </div>
            <div class="m-auto">
              <h5 class="m-auto">Continue with Google</h5>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4 mt-3 mx-auto">
      <h5 class="partners text-secondary">
        <span>
          OR
        </span>
      </h5>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 mx-auto">
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter Email" name="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter Password" name="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn bg-svc-match border-0 btn-block btn-primary"><h5>Login</h5></button>
            </div>
        </form>

        <div class="text-left">
          <small class="text-secondary">Not a member? <a href="{% url 'accounts:signup' %}">Signup</a></small>
          <br>
          <small class="text-secondary">Forgot Password?<a href="{% url 'accounts:password_reset_form' %}" class=""> Click Here</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
