{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
<div class="row">
    <div class="col-lg-5 mx-auto">
        <div class="card">
            <div class="card-header">Password Reset</div>
            <div class="card-body">
                {% for foo in messages %}
                    <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ foo }}
                    </div>
                {% endfor %}
                <p class="small">One Time password sent your email please check your email.</p>
                <p class="small">Please enter OTP to reset your password.</p>
                <form method="POST" action="{% url 'accounts:password_reset_otp' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="otp" placeholder="Enter 6 digits OTP..">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Submit OTP</button>
                    </div>
                </form>
                <a href="{% url 'accounts:password_reset_form' %}">Re-send your OTP?</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}