{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col-lg-10 mx-auto">
        <div class="card">
            <div class="card-header">Signup</div>
            <div class="card-body">
            <form action="{% url 'accounts:signup' %}" onsubmit="validate(event)" method="post">
                {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" class="form-control" name="first_name">
                </div>
                    <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" name="last_name">
                </div>
                    <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                    <div class="form-group">
                    <label for="">Contact</label>
                    <input type="text" class="form-control" name="contact">
                </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                    <div class="form-group">
                        <label for="">Type</label>
                    <select name="user_type" class="form-control" >
                        <option disabled selected>Select Type</option>
                        {% for t in user_type %}
                        <option value="{{ t.id }}">{{ t.UserType }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <div class="form-group">
                        <label for="">Application</label>
                    <select name="application" class="form-control" >
                        <option disabled selected>Select Application </option>
                        {% for a in application %}
                        <option value="{{ a.id }}">{{ a.ApplicationName }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <div class="form-group">
                    <input type="submit" id="submitBtn" class="btn btn-block btn-primary">
                </div>
                </div>
            </div>
            </form>
            <div class="help" id="help">

            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var inputs = document.getElementsByTagName("input");
var help = document.getElementById("help");
function validate(event){
  for (let i=0;i<inputs.length;i++){
    if(inputs[i].value.indexOf("script")>-1 || inputs[i].value.indexOf("<")>-1){
      disable();
      help.innerHTML = "<h4>Use the fields as they should be...........</h4>"
      break;
    } else {
      enable();
      help.innerHTML = ""
    }
  }
}
for (let i=0;i<inputs.length;i++){
  inputs[i].setAttribute('oninput', 'validate(event)');
}

function disable(){
  console.log("hua")
  var submitBtn = document.getElementById('submitBtn');
  submitBtn.setAttribute('disabled', 'true');
}
function enable(){
  console.log("hua")
  var submitBtn = document.getElementById('submitBtn');
  submitBtn.removeAttribute('disabled');
}
</script>
{% endblock %}
