/* Remove arrows from input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.small{
  font-size: 9px !important;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.lh-0{
  line-height: 0.4;
}

.over-me{
  margin-top:-70px !important;
}
.bg-svc{
  background: #540c0c;
}
.popular-links{
  border-radius: 15px;
  border: 2px solid white;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  text-decoration: none;
  transition: .25s all ease-in-out;
  cursor: pointer;
}

.popular-links:hover{
  background: #8f54546b;
  color: white;
}

a:hover{
  text-decoration: none;
}

.outline-0{
  outline: 0;
}

.bg-svc-match{
  background: #1dbf73;
  transition: all .3s;
}

.bg-match-nh{
  background: #1dbf73;
}

.bg-svc-match:hover{
  background: #1dbf73d9;
}

.type{
  transition: .3s all;
}
.type:hover{
  transform: scale(1.04);
}

.chat-input{
  width:100%
}

.chatarea{
  height:400px;
}

.input-chat-wrap{
  /* border:1px solid black; */
  border-radius: 10px;
  width:400px;
  overflow: hidden;
  background: grey

}


/* Hide scrollbar for Chrome, Safari and Opera */
.chat-wrapper::-webkit-scrollbar {
    display: none;
}

.container-fluid{
    padding: 0px;
    margin: 0px;
}

.chat-wrapper{
  scroll-behavior: smooth;
  transition: transform 0.6s ease-in-out;
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



.w-100{
  width: 100%;
  display: flex;
  padding: 5px;
  padding-left:10px;
  padding-right:10px;
}
.invert{
  transform: rotate(180deg);
}
.sent{
  color: white;
  background: black;
  /* box-shadow: 1px 1px 1px white; */
  border-radius: 15px;
  width: max-content;
  padding:10px;
  float: right;
  transform: rotate(180deg);
}
.recieved{
  color: black;
  background: white;
  /* box-shadow: 1px 1px 1px black; */
  border-radius: 15px;
  width: max-content;
  padding:10px;
}




.partners {
  display: flex;
  flex-direction: row;
}
.partners:before, .partners:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #C3C3C3;
  margin: auto;
}
.partners:before {
  margin-right: 10px
}
.partners:after {
  margin-left: 10px
}

.social:hover{
  transform: scale(1.03);
  opacity: 0.8;
}

.social{
  transition: .3s all;
}

.facebook{
  background: #4267B2;
}
.partners{
  color: #C3C3C3;
}

form.w-75{
  transition: .4s all ease-out;
}


form.w-75:hover{
  width: 100% !important;
  transform: scale(1.03);
}

.lh-2{
  line-height: 2.3;
}
@media(max-width:757px){
  .banner-h1{
    font-size: 23px !important;
  }
}

/* All jobs Card */

/* allusers page admin */


.filter{
  display: inline-block; 
}

#id_TopicName{
  width: 100%;
}
