{% extends 'base.html' %}

{%block content%}
<style media="screen">
  .st{
    padding:20px;
    border-radius:20px;
    background:blue;
    color:white;
    width: max-content;
  }
</style>
<h1>Homepage</h1>
<h3 class="st"> Hello {{request.user.first_name}}{{row}}</h3>
<ul>
  {{users}}
  {% if request.user.is_authenticated %}
    {% for user in users %}
      <li>
        <a href="{% url 'clients:chat' user_id=user.0 %}">Chat with: {{user.2}}</a>
      </li>
    {% endfor %}
  {% else %}
    <li>
      <a href="{% url 'clients:login' %}">Login First</a>
    </li>
  {% endif %}
</ul>
<div class="container">
  <a href="{% url 'clients:myJobs' %}" class="btn btn-primary">My Jobs</a>
</div>
{%endblock%}
