{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <!-- {{form|crispy}} -->
        <div class="row">
            <div class="col-3">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.last_name|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.email|as_crispy_field }} 
            </div>
            <div class="col-3">
                {{ form.password|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.UserMiddleName|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.ContactCell|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.usertype|as_crispy_field }}
            </div>
        </div>
        <button class="btn btn-primary" id="submitBtn" type="submit">Signup</button>
    </form>
</div>

<script type="text/javascript">
  var inputs = document.getElementsByTagName("input");
  for (let i=0;i<inputs;i++){
    inputs[i].setAttribute('onpropertychange', 'disable()');
  }
  funciton disable(){
    var submitBtn = document.getElementById('submitBtn');
    submitBtn.setAttribute('disabled', 'true');
  }
</script>

{% endblock %}
