{% extends 'base.html' %}

{%block content%}
<div class="">
  <section>
    <div class="pt-5 pb-5 bg-svc text-white">
      <div class="container">
        <div class="row pb-3 pt-3">
          <div class="col-md-6">
            <div class="p-3">
              <h1 class="banner-h1">Hey <i>Customer</i></h1>
              <h1 class="banner-h1">services for your business</h1>
              <form class="bg-white w-75 rounded overflow-hidden p-0" method="post">
                <div class="form-row m-0">
                  <div class="col-10 overflow-hidden">
                    <input type="text" name="search" value="" class="w-100 border-0 outline-0">
                  </div>
                  <button type="submit" name="button" class="col-2 rounded-0 h-100 bg-svc-match border-0 btn btn-light">
                    <i class="fa fa-search "></i>
                  </button>
                </div>
              </form>
              <div class="row p-3 lh-2">
                <div class="mr-3">
                  <small>Popular: </small>
                </div>
                <div class="mr-3">
                  <small>
                    <a class="popular-links">Web Development</a>
                  </small>
                </div>
                <div class="mr-3">
                  <small>
                    <a class="popular-links">Electricals</a>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="bg-light">
      <div class="container">
        <div class="p-2">
          <div class="row">
            <div class="m-auto">
              <h6 class="partners"><b>NETFLIX</b></h6>
            </div>
            <div class="m-auto">
              <h6 class="partners"><b>Google</b></h6>
            </div>
            <div class="m-auto">
              <h6 class="partners"><b>Facebook</b></h6>
            </div>
            <div class="m-auto">
              <h6 class="partners"><b>Twitter</b></h6>
            </div>
            <div class="m-auto">
              <h6 class="partners"><b>NETFLIX</b></h6>
            </div>
            <div class="m-auto">
              <h6 class="partners"><b><i>P&G</i></b></h6>
            </div>
            <div class="m-auto">
              <h6 class="partners"><b><i>Paypal</i></b></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container p-3">
      <h2 class="text-dark banner-h1 p-3">Popular Professional Service</h2>
    </div>
  </section>
</div>


{%endblock%}
