{% extends 'base.html' %}

{%block content%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script type="text/javascript">
  // document.getElementsByTagName('body')[0].classList.add('bg-match-nh');
</script>

<section class="bg-svc">
  <div class="pb-5 pt-4">
    <div class="container pb-3 text-white">
      <div class="mx-auto row text-left pt-0 pb-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="mx-auto text-left pb-3 pt-3">
              <h3 class=banner-h1" id='page-heading'>Chat for job:
                  <div class="bg-white shadow btn" style="">
                    {% if request.session.user.type == "Professional" %}
                      <a href="{% url 'professional:indiJob' job_id=job.id %}" class="btn p-0">{{job.TopicName}}</a>
                    {% else %}
                      <a href="{% url 'clients:jobdetail' pk=job.id %}" class="btn p-0">{{job.TopicName}}</a>
                    {% endif %}
                  </div>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="chat text-center over-me">
  <div class="input-chat-wrap shadow m-auto">
    <div class="m-auto mt-3 border-light border-top p-2 bg-light">
      <div class="row">
        <div class="col-sm-12 text-left">
          <div class="p-1" id="with">
          </div>
        </div>
      </div>
    </div>
    <div class="chat-wrapper rounded" id="chatWrap">
      <div class="chatarea" id="chat-log">
        {% for message in messages %}
        {% if message.1 %}
        <div class="w-100">
          <div class="recieved p-0 text-left">
            <small class="border-bottom w-100 small pb-1 pt-1 pl-2 pr-2">{{message.3|date:'d-M-Y, h:i a'}}</small>
            <div class="p-2">
              <small>{{message.2}}</small><br>
              {{message.0}}<br>
            </div>
          </div>
        </div>
        {% else %}
        <div class="w-100 invert">
          <div class="bg-dark p-0 text-right sent">
            <small class="border-bottom w-100 small pb-1 pt-1 pl-2 pr-2">{{message.3|date:'d-M-Y, h:i a'}}</small>
            <div class="p-2">
              {{message.0}}
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="m-auto mt-3 border-dark border-bottom p-2 bg-dark">
      <div class="row">
        <div class="col-sm-9">
          <input id="chat-message-input" type="text" class="chat-input">
        </div>
        <div class="col-sm-1">
          <input id="chat-message-submit" class="btn btn-light" type="button" value="Send">
        </div>
      </div>
    </div>
  </div>
</section>


{{ senderId|json_script:"senderId" }}
{{ room_name|json_script:"roomName" }}
{{ request.session.user.id|json_script:"myId" }}
<script>
    const roomName = JSON.parse(document.getElementById('roomName').textContent);
    const senderInfo = JSON.parse(document.getElementById('senderId').textContent);
    const senderId = senderInfo[0];
    const senderName = senderInfo[1];
    const myId = JSON.parse(document.getElementById('myId').textContent);
    const chatWrap = document.getElementById('chatWrap');
    document.getElementById('with').innerHTML=senderName;
    chatWrap.scrollTo(0,chatWrap.scrollHeight);

    const client_id = {{client_id}};
    const professional_id = {{professional_id}};
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + senderId
        + '/'
        + roomName
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data.id, data)
        if(senderId==data.id){
          document.querySelector('#chat-log').innerHTML += `<div class="w-100"><div class="recieved"><small>${senderName}</small><br>${data.message}</div></div>`;
          chatWrap.scrollTo(0,chatWrap.scrollHeight);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        document.querySelector('#chat-log').innerHTML += `<div class="invert w-100"><div class="bg-dark sent">${message}</div><div>`;
        chatWrap.scrollTo(0,chatWrap.scrollHeight)
        chatSocket.send(JSON.stringify({
            'message': message,
            'senderId':myId,
            'roomName': roomName,
            'client_id':client_id,
            'professional_id':professional_id,
        }));
        messageInputDom.value = '';
    };
</script>
{%endblock%}
