{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  {% for connection in connections %}
  <div class="card m-3">
    <div class="">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="head">
                  {{connection.TopicName}}
                </div>
                <small>
                  {% if request.session.user.type == "Professional" %}
                    Client Name : {{connection.first_name}}
                  {% else %}
                    Professional Name : {{connection.first_name}}
                  {% endif %}
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 m-auto">
          <div class="m-auto">
            {% if request.session.user.type == "Professional" %}
            <a href="{% url 'chatApp:chat' user_id=connection.client_id job_id=connection.topic_id %}">Continue Chat</a>
            {% else %}
            <a href="{% url 'chatApp:chat' user_id=connection.professional_id job_id=connection.topic_id %}">Continue Chat</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br><br><br><br>
{% endblock %}
